<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css">
    <title>Groupie</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;"> 
        <a class="navbar-brand" href="index.html">Groupie</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <form aciton="/searchgroupie" method="post" class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            </div>
            <ul class="navbar-nav ml-auto">
              <a class="nav-item nav-link" href="create.html">Create a Groupie</a>
            </ul>
          </div>
        </div>
    </nav>

    <!--form for creating a groupie-->
    <div class="create">
        <form action="/create" method="post">
            <div class="mb-3">
                <label for="name">What is your name: </label>
                <br>
                <input autcomplete="off" autofocus class="form-control mx-auto w-auto" name="name" id="name" type="text" required>
            </div>

            <div class="mb-3">
                <label for="email">What is your email: </label>
                <br>
                <input autcomplete="off" autofocus class="form-control mx-auto w-auto" name="email" id="email" type="text" required>
            </div>
            
            <div class="mb-3">
                <label for="topic">What is the topic of your Groupie: </label>
                <br>
                <input autcomplete="off" autofocus class="form-control mx-auto w-auto" name="topic" id="topic" type="text" required>
            </div>

            <div class="mb-3">
                <label for="description">Short, but Specific Description: </label>
                <br>
                <input autcomplete="off" autofocus class="form-control mx-auto w-auto" name="description"  id="description" type="text" required>
            </div>

            <div class="mb-3">
                <label for="date">Date: </label>
                <br>
                <input autcomplete="off" autofocus class="form-control mx-auto w-auto" name="date" id="date" type="date" required>
            </div>

            <div class="mb-3">
                <label for="location">Location On Campus: </label>
                <br>
                <input autcomplete="off" autofocus class="form-control mx-auto w-auto" name="location" id="location" type="text" required>
            </div>

            <div class="mb-3">
                <label for="start_time">Start Time: </label>
                <br>
                <input autcomplete="off" autofocus class="form-control mx-auto w-auto" name="start_time" id="start_time" type="time" required>
            </div>

            <div class="mb-3">
                <label for="end_time">End Time: </label>
                <br>
                <input autcomplete="off" autofocus class="form-control mx-auto w-auto" name="end_time" id="end_time" type="time" required>
            </div>
            <button class="btn btn-primary" type="submit">Create your Groupie!</button>

        </form>
    </div>

    <div class="footer">
        <center>
          <h3>Contact Information:</h3>
          <p><a href="mailto: fidnyourgroupie@gmail.com">Company Email: fidnyourgroupie@gmail.com</a></p>
        </center>
        <div class="copyright">
          <center>
            <script language="JavaScript">
            document.write('&copy;' );
            document.write(' Groupie');
            document.write('  2021');
            </script>
          </center>        
      </div>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>